 /* BODY*/

 body {
  background-image: url('./assets/clouds.jpg');
  background-size: cover;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 90); /* Adjust the alpha value (0.5) to set the desired transparency */

}
.bg-primary {
  background-color: rgb(0, 91, 101) !important;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.6; /* Adjust the opacity value (0.5) to set the desired level of transparency */
  z-index: -1;
}

 /* PLANE COMPONENT */

 .plane-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.index-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.plane-types {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.plane-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

 /* SEATS */
 .seat {
  cursor: pointer;
  padding: 10px;
}
.seat-grid{

  min-width: 400px;

}
.available {
  background-color: green;
}

.seat.occupied {
  background-color: red;
}
.reserved {
  background-color: rgb(78, 78, 231);
}

.selected-seats-label {
  font-size: 18px;
  font-weight: bold;
}

.selected-seat {
  color: red;
  font-size: 16px;
}

.sidebar-content {
  padding: 20px;
}
.booking-form {
  margin-top: 20%;
  position: sticky;
  top:20%;
  flex-direction: column;
  justify-content: center;

}

.main-content {
  padding: 20px;
}

 /* seats error */
.blink {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-form-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid black;
  max-width: 400px; /* Set a maximum width for the form */
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.login-form-label {
  text-align: center;
  margin-bottom: 1rem;
}

.reservation-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the popup appears above other elements */
}

.reservation-popup .card {
  width: 400px;
  z-index: 99999; /* Ensure the card appears above other elements */
}