
 /* PLANE COMPONENT */

.index-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.plane-types {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.plane-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

 /* SEATS */
 .seat {
  cursor: pointer;
  padding: 10px;
}

.available {
  background-color: green;
}

.occupied {
  background-color: red;
}

.reserved {
  background-color: rgb(78, 78, 231);
}
.sidebar {
  position: sticky;
  top: 20px; /* Adjust the top value as needed */
  height: calc(100vh - 40px); /* Adjust the height value as needed */
  overflow-y: auto;
  background-color: lightgray; /* Add background color */
  border: 1px solid gray; /* Add border */
}

.sidebar-content {
  padding: 20px;
}

.main-content {
  padding: 20px;
}